<div>
    <h2>New Meeting Registration</h2>
    </div>
    
    <form [formGroup]="meetingForm" (ngSubmit)="validateDate()">
        <div>
            <label for="description">Meeting Description:</label>
            <input type="text" id ="description"
            formControlName="description"
            placeholder="Enter meeting description" required>
        </div>
        <div>
            <label for="company">Client Name:</label>
            <input type="text" id ="company"
            formControlName="company"
            placeholder="Enter client name" required>
        </div>
        <div>
            <label for="date">Meeting Date:</label> 
            <input type="date" 
                   id="date" name="date" 
                   placeholder="Enter your meeting day" required> 
        </div>
        <div>
            <label for="startTime">Select a Start Time:</label>
            <input type="time"
                id="startTime" name="startTime"
                placeholder="Enter start time" required>        
        </div>
        <div>
            <label for="endTime">Select a End Time:</label>
            <input type="time"
                id="endTime" name="endTime"
                placeholder="Enter end time" required>
        </div>
        <div>
            <label for="location">Location:</label>
            <input type="text" id ="location"
                name="location"
                placeholder="Enter location" required>
        </div>
        <div>
            <label for="room">Room (Optional):</label>
            <input type="text" id ="room"
                    name="room"
                    placeholder="Enter room">
        </div>
    
        <button class="button" type="submit">Register</button>
    </form>
    
